@charset "utf-8";
/* CSS Document */
body {
	background-color: #fff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 0px;
	padding: 0px;
	border: 0px;
}
h1 {
	
	float: left;
	padding-left: 5px;
}
header{
	display: block;
	background-color: #4B4084;
	overflow: hidden;
	color: #fff;
}
img {
	float: left;
	display: block;
	
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	float: left;
	color: #fff;
	margin-top: 30px;
	margin-left: 20px;
	width: 40%;
}
a {
	text-decoration: none;
	color: #fff;
	display:inline;
}
a.linkpage {
	color: #fff;
	font-weight: bold;
	margin-top: 40px;
	text-shadow: 2px 2px 4px #4B4084;
	
}
.post1 {
	width: 340px;
	height: 420px;
	background-image: url("./imagess/bgpostvstut.jpg");
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 15px;
}
.post2 {
	width: 340px;
	height: 420px;
	background-image: url("./imagess/bgpostimovieexport.jpg");
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
}
.postgroups {
	float: flex;
	display: flex;
}
p {
	color: #fff;
	text-shadow: 2px 2px 4px #4B4084;
}
a:hover {
	color: orange;
}